In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [2]:
df = pd.read_csv('D:\BITS PILANI\Data Mining\Lab\Python\Lab 4 - Naive Bayes\\bank_data.csv')
df.head()

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,ID12101,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,ID12102,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
2,ID12103,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.3,YES,0,NO,YES,NO,NO,NO

In [3]:
le = preprocessing.LabelEncoder()

for column in df.columns:
    df[column] = le.fit_transform(df[column])

df.head()

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,0,30,0,0,120,0,1,0,0,0,0,1
1,1,22,1,3,307,1,3,1,0,1,1,0
2,2,33,0,0,106,1,0,1,1,1,0,0
3,3,5,0,3,159,1,3,0,0,1,0,0
4,4,39,0,1,443,1,0,0,1,0,0,0

In [4]:
X = df[df.columns[:-1]]
Y = df['pep']

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=30)

In [6]:
gnb = GaussianNB()

gnb.fit(X_train, Y_train)
predict = gnb.predict(X_test)

In [7]:
print('No. of mislabelled points out of total %d points: %d'%(X_test.shape[0], (Y_test != predict).sum()))

No. of mislabelled points out of total 144 points: 53

In [8]:
print(confusion_matrix(Y_test, predict))

[[57 23]
 [30 34]]

In [9]:
print('Accuracy =', accuracy_score(Y_test, predict))

Accuracy = 0.6319444444444444

<h1>Q1</h1>

In [10]:
df1 = df.drop(labels=['current_act'], axis=1)
df1.head()

,id,age,sex,region,income,married,children,car,save_act,mortgage,pep
0,0,30,0,0,120,0,1,0,0,0,1
1,1,22,1,3,307,1,3,1,0,1,0
2,2,33,0,0,106,1,0,1,1,0,0
3,3,5,0,3,159,1,3,0,0,0,0
4,4,39,0,1,443,1,0,0,1,0,0

In [11]:
X1 = df1[df1.columns[:-1]]
Y1 = df1['pep']

In [12]:
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size=0.3, random_state=30)

In [13]:
gnb.fit(X1_train, Y1_train)

predict1 = gnb.predict(X1_test)

In [14]:
print('Accuracy =', accuracy_score(Y1_test, predict1))

Accuracy = 0.6180555555555556

In [15]:
print('Old Accuracy =', accuracy_score(Y_test, predict))
print('New Accuracy =', accuracy_score(Y1_test, predict1))
print('\nAccuracy DECREASES after dropping attribute CURRENT_ACT')

Old Accuracy = 0.6319444444444444
New Accuracy = 0.6180555555555556

Accuracy DECREASES after dropping attribute CURRENT_ACT

<h1>Q2</h1>

In [16]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

knn.fit(X_train, Y_train)
q2predict = knn.predict(X_test)
print('Old Accuracy using KNN =', accuracy_score(Y_test, q2predict))
knn.fit(X1_train, Y1_train)
q2predict1 = knn.predict(X1_test)
print('New Accuracy using KNN =', accuracy_score(Y1_test, q2predict1))
print('\nThe Accuracy by using KNN remains same despite dropping attribute CURRENT_ACT')

Old Accuracy using KNN = 0.4861111111111111
New Accuracy using KNN = 0.4861111111111111

The Accuracy by using KNN remains same despite dropping attribute CURRENT_ACT

In [17]:
print('Old Accuracy using NB=', accuracy_score(Y_test, predict))
print('Old Accuracy using KNN =', accuracy_score(Y_test, q2predict))
print('New Accuracy using NB=', accuracy_score(Y1_test, predict1))
print('New Accuracy using KNN =', accuracy_score(Y1_test, q2predict1))
print('\nThe Accuracy DECREASES for KNN classification compared to Naive Bayes')

Old Accuracy using NB= 0.6319444444444444
Old Accuracy using KNN = 0.4861111111111111
New Accuracy using NB= 0.6180555555555556
New Accuracy using KNN = 0.4861111111111111

The Accuracy DECREASES for KNN classification compared to Naive Bayes

<h1>Q3</h1>

In [18]:
data = pd.read_csv('D:\BITS PILANI\Data Mining\Lab\Python\Lab 4 - Naive Bayes\car.csv', header=None)
data.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [19]:
for column in data.columns:
    data[column] = le.fit_transform(data[column])

data.head()

   0  1  2  3  4  5  6
0  3  3  0  0  2  1  2
1  3  3  0  0  2  2  2
2  3  3  0  0  2  0  2
3  3  3  0  0  1  1  2
4  3  3  0  0  1  2  2

In [20]:
X3 = data[data.columns[:-1]]
Y3 = data[len(data.columns)-1]

In [21]:
X3_train, X3_test, Y3_train, Y3_test = train_test_split(X3, Y3, test_size=0.3, random_state=30)

In [22]:
gnb.fit(X3_train, Y3_train)
predict3 = gnb.predict(X3_test)

In [23]:
print('Accuracy:', accuracy_score(Y3_test, predict3))

Accuracy: 0.6242774566473989

<h1>Q4</h1>

In [24]:
correlation = []

for i in data.columns[:-1]:
    x = data[len(data.columns)-1].corr(data[i])
    correlation.append(x)

print('For CAR Dataset\n')

for j in range(0, len(correlation)):
    print('Correlation with attribute %d ='%(j), correlation[j])

For CAR Dataset

Correlation with attribute 0 = 0.051424223969924875
Correlation with attribute 1 = 0.040193646321321184
Correlation with attribute 2 = -0.031327400809264695
Correlation with attribute 3 = -0.2994682978188092
Correlation with attribute 4 = 0.03318432489343561
Correlation with attribute 5 = -0.021043718225105514

In [25]:
print('Ascending Order\n')
correlation.sort()
print(correlation)

Ascending Order

[-0.2994682978188092, -0.031327400809264695, -0.021043718225105514, 0.03318432489343561, 0.040193646321321184, 0.051424223969924875]

In [26]:
correlation1 = []

for l in df.columns[:-1]:
    y = df['pep'].corr(df[l])
    correlation1.append(y)

print('For BANK Dataset\n')

for k in range(0, len(correlation1)):
    print('Correlation with attribute %s ='%(df.columns[k]), correlation1[k])

For BANK Dataset

Correlation with attribute id = 0.015815123437160954
Correlation with attribute age = 0.15765257129643453
Correlation with attribute sex = 0.037616612206111524
Correlation with attribute region = -0.006826888407840696
Correlation with attribute income = 0.21966933754690549
Correlation with attribute married = -0.1891967049357696
Correlation with attribute children = -0.03483572501544092
Correlation with attribute car = 0.01944816016151902
Correlation with attribute save_act = -0.07977558940149637
Correlation with attribute current_act = 0.03677957799395594
Correlation with attribute mortgage = -0.05459562175338289

In [27]:
print('Ascending Order\n')
correlation1.sort()
print(correlation1)

Ascending Order

[-0.1891967049357696, -0.07977558940149637, -0.05459562175338289, -0.03483572501544092, -0.006826888407840696, 0.015815123437160954, 0.01944816016151902, 0.03677957799395594, 0.037616612206111524, 0.15765257129643453, 0.21966933754690549]

<h1>Q5</h1>

In [28]:
# CARS Dataset
# Dropping attribute 3

data5 = data.drop(columns=[3])
data5.head()

   0  1  2  4  5  6
0  3  3  0  2  1  2
1  3  3  0  2  2  2
2  3  3  0  2  0  2
3  3  3  0  1  1  2
4  3  3  0  1  2  2

In [29]:
X5a = data5[data5.columns[:-1]]
Y5a = data5[len(data5.columns)-1]

In [30]:
X5a_train, X5a_test, Y5a_train, Y5a_test = train_test_split(X5a, Y5a, test_size=0.3, random_state=30)

In [31]:
gnb.fit(X5a_train, Y5a_train)
predict5a = gnb.predict(X5a_test)

print('Accuracy:', accuracy_score(Y5a_test, predict5a))

Accuracy: 1.0

In [32]:
# BANK Dataset
# Dropping attribute Income

df5 = df.drop(labels=['income'], axis=1)
df5.head()

,id,age,sex,region,married,children,car,save_act,current_act,mortgage,pep
0,0,30,0,0,0,1,0,0,0,0,1
1,1,22,1,3,1,3,1,0,1,1,0
2,2,33,0,0,1,0,1,1,1,0,0
3,3,5,0,3,1,3,0,0,1,0,0
4,4,39,0,1,1,0,0,1,0,0,0

In [33]:
X5b = df5[df5.columns[:-1]]
Y5b = df5['pep']

X5b_train, X5b_test, Y5b_train, Y5b_test = train_test_split(X5b, Y5b, test_size=0.3, random_state=30)

In [34]:
gnb.fit(X5b_train, Y5b_train)
predict5b = gnb.predict(X5b_test)

print('Accuracy:', accuracy_score(Y5b_test, predict5b))

Accuracy: 0.6180555555555556

In [35]:
print('Old Accuracy for BANK Dataset=', accuracy_score(Y_test, predict))
print('New Accuracy for BANK Dataset=', accuracy_score(Y5b_test, predict5b))
print('\nThe Accuracy DECREASES after removing attribute INCOME from BANK Dataset')

Old Accuracy for BANK Dataset= 0.6319444444444444
New Accuracy for BANK Dataset= 0.6180555555555556

The Accuracy DECREASES after removing attribute INCOME from BANK Dataset

In [36]:
print('Old Accuracy for CAR Dataset:', accuracy_score(Y3_test, predict3))
print('New Accuracy for CAR Dataset:', accuracy_score(Y5a_test, predict5a))
print('\nThe Accuracy INCREASES after removing attribute 3 from CAR Dataset')

Old Accuracy for CAR Dataset: 0.6242774566473989
New Accuracy for CAR Dataset: 1.0

The Accuracy INCREASES after removing attribute 3 from CAR Dataset